@font-face {
    font-family: Blacksword;
    src: url('../assets/fonts/blacksword/Blacksword.otf');
}

@font-face {
    font-family: Norse;
    src: url('../assets/fonts/norse/Norse.otf');
}

@font-face {
    font-family: OptimusPrinceps;
    src: url('../assets/fonts/optimusprinceps/OptimusPrinceps.ttf');
}

@font-face {
    font-family: couture-bld;
    src: url('../assets/fonts/couture/couture-bld.otf');
}

@font-face {
    font-family: Adam;
    src: url('../assets/fonts/Adam.otf');
}


/*========LOGO============*/
#logo {
  /*border: 1px solid black;*/
  margin-left: 30px;
  width: 375px;
  height: 100px;
  opacity: .5;
}

#logoWords {
  font-family: Adam;
  font-size: 800%;
  color: black;
  /*font-weight: bold;*/
  position: absolute;
  top: 42.5%;
  left: 65px;
  -webkit-transform: translate(0%, -50%);
  /*border: 1px solid black;*/
}

/*=========NAV BAR=========*/
.navBar {
  text-align: center;
  float: center;
}



/*=========TOP HEADER=========*/

.topHeader {
  margin-top: 0px;
  margin-bottom: -2.5px;
  text-align: center;
  font-size: 325%;
  font-family: Adam;
  /*border: 1px solid black;*/
}

/*========UPLOAD============*/
.drop-box {
  background: #f8f8f8;
  border: 5px dashed #DDD;
  width: 200px;
  text-align: center;
  padding: 25px;
  margin: 10px;
}

.dragover {
  border: 5px dashed blue;
}

/*==========SUBMISSIONS PAGE==========*/
.submissionsBox {
  /*border: 1px solid black;*/
  margin: 0 350px 0 350px;
  text-align: center;
}

/*==========LOGIN PAGE=========*/
.loginBox {
  /*border: 1px solid black;*/
  margin: 0 500px 0 500px;
  text-align: center;
}


/*=========IMAGE CROP=========*/

.drop-box-container {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  display: table;
}

.photo-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: auto;
  text-align: center;
}

/*=========GALLERY===========*/

.galleryContainer {
  /*border: 1px solid black;*/
  width: 1200px;
  margin: 0 auto 50px auto;
}

/*==========GALLERY MEDIA QUERIES=======*/
@media screen and (max-width: 1120px) {
  .galleryContainer {width: 840px;}
}

@media screen and (max-width: 840px) {
  .galleryContainer {width: 560px;}
}

@media screen and (max-width: 560px) {
  .galleryContainer {width: 280px;}
}

/*========GALLERY SHOWCASE LIST=========*/
.galleryContainer ul {
  list-style-type: none;
  padding-top: -5px;
}

.galleryContainer li {
  float: left;
  position: relative;
  width: 280px;
  height: 187px;
  overflow: hidden;
}

.galleryContainer li:hover {
  cursor: pointer;
}

/*==========GALLERY HOVER STATE=============*/
.galleryContainer li p {
  color: transparent;
  background: transparent;
  font: 200 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;


  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.galleryContainer li span {
  color: transparent;
  background: transparent;
  font: 200 20px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.galleryContainer li:hover span {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.1);
}

.galleryContainer li:hover p {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.3);
}


/*=========GALLERY IMAGE STYLE========*/
.galleryContainer img {
  width: 280px;
  height: 187px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.galleryContainer li:hover img {
  width: 320px;
  height: 213px;
}


/*=========FULLSCREEN GALLERY IMAGES=========*/

.fullScreenImage {
  position: fixed;
  z-index: 999;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);

}

.fullScreenBackground {
  z-index: 900;
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
}

.imageTitle{
  font: 200 30px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: fixed;
  top: 90%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
}

.imageArtist{
  font: 200 20px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  /*text-transform: uppercase;*/
  color: white;
  position: fixed;
  top: 94.5%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
}

.exitFullscreen{
  font: 200 20px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
}

.nextImage {
  outline: none;
  position: fixed;
  z-index: 998;
  width: 45%;
  height: 80%;
  top: 50%;
  left: 95%;

  -webkit-transform: translate(-100%, -50%);

}

.nextImage:hover {
  background-color: rgba(255,255,255,0.05);
  cursor: pointer;

}

.nextActualImage {
  height: 29.85px;
  width: 18.9px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
}

.prevImage {
  outline: none;
  position: fixed;
  z-index: 998;
  width: 45%;
  height: 80%;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(0%, -50%);

}

.prevImage:hover {
  background-color: rgba(255,255,255,0.05);
  cursor: pointer;

}

.prevActualImage {
  height: 29.85px;
  width: 18.9px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
}




/*===========ARTIST PAGE===========*/

.backImg {
  height: 30px;
  width: 30px;
  position: absolute;
  display: inline-block;
  top: -5 px;
  left: -40px;
}

.backImgBox {
  display: inline-block;
  /*border: 1px solid black;*/
  position: absolute;;
  left: 250px;
  top: 220px;
  cursor: pointer;

}


.artistInfoContainer {
  /*border: 1px solid black;*/
  width: 1200px;
  padding-top: 17.5px;
  margin: 0 auto 50px auto;

}

.artistInfoGalleryBox {

    width: 50%;
    float: left;
    height: 675px;
    background-color: white;

}

.artistInfoBox {
    width: 50%;
    float: right;
    height: 675px;
    /*background-color: green;*/
    /*border: 1px solid black;*/

}

#clear {
    clear: both;
}

/*==========MEDIA QUERIES==========*/

@media screen and (max-width: 1120px) {
  .artistContainer {width: 840px;}
}

@media screen and (max-width: 840px) {
  .artistContainer {width: 560px;}
}

@media screen and (max-width: 560px) {
  .artistContainer {width: 280px;}
}

/*========ARTIST SHOWCASE LIST=========*/
.artistInfoContainer ul {

  top: 0;
  padding: 0;
  height: 675px;
  overflow-y: scroll;
  margin-left: 10px;
  margin: auto;
  list-style-type: none;
}

.artistInfoContainer li {
  margin-left: 12px;
  float: left;
  position: relative;
  width: 280px;
  height: 187px;
  overflow: hidden;
}

.artistInfoContainer li:hover {
  cursor: pointer;
}

/*========ARTIST INFO BOX==========*/
.artistImage {
  /*max-height: 100%;*/
  max-width: 100%;
}

/*========ARTIST MINI-GALLERY SHOWCASE LIST=========*/



.artistInfoContainer li p {
  color: transparent;
  background: transparent;
  font: 200 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;


  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.artistInfoContainer li span {
  color: transparent;
  background: transparent;
  font: 200 20px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*==========ARTIST MINI-GALLERY HOVER STATE=============*/

.artistInfoContainer li:hover span {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.1);
}

.artistInfoContainer li:hover p {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.3);
}


/*=========ARTIST MINI-GALLERY IMAGE STYLE========*/
.artistInfoContainer > .artistInfoGalleryBox img {
  width: 280px;
  height: 187px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.artistInfoContainer > .artistInfoGalleryBox li:hover img {
  width: 320px;
  height: 213px;
}






/*===============LANDING DIV FOR ARTIST PAGE================*/
/*=========ARTIST===========*/

.artistContainer {
  /*border: 1px solid black;*/
  width: 1200px;
  margin: 0 auto 50px auto;
}

/*==========GALLERY MEDIA QUERIES=======*/
@media screen and (max-width: 1120px) {
  .galleryContainer {width: 840px;}
}

@media screen and (max-width: 840px) {
  .galleryContainer {width: 560px;}
}

@media screen and (max-width: 560px) {
  .galleryContainer {width: 280px;}
}

/*========GALLERY SHOWCASE LIST=========*/
.artistContainer ul {
  list-style-type: none;
}

.artistContainer li {
  float: left;
  position: relative;
  width: 280px;
  height: 187px;
  overflow: hidden;
}

.artistContainer li:hover {
  cursor: pointer;
}

/*==========GALLERY HOVER STATE=============*/
.artistContainer li p {
  color: transparent;
  background: transparent;
  font: 200 30px/187px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;


  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.artistContainer li span {
  color: transparent;
  background: transparent;
  font: 200 20px/145px 'Arvo', Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;

  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 187px;
  margin: 0;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.artistContainer li:hover span {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.1);
}

.artistContainer li:hover p {
  color: white;
  background: #000;
  background: rgba(0,0,0,0.3);
}


/*=========GALLERY IMAGE STYLE========*/
.artistContainer img {
  width: 280px;
  height: 187px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.artistContainer li:hover img {
  width: 320px;
  height: 213px;
}




.md-tabs-centered-wrapper{
  display:flex;
  justify-content:center;
  height:4.8rem;
  margin:auto;
  md-tabs[md-stretch-tabs]{
    max-width:50% !important; /* or any */
  }
