<div class="headerContainer"><h1 class="topHeader">Artists</h1>
<div class="backImgBox" ng-click="goBack()" ng-if="artistLink"><img class="backImg" src="../assets/images/back-icon.png" /></div>
</div>

<div class="artistContainer" ng-if="!artistLink">
  <div class="artistGalleryBox">
    <ul class="artistListContainer">
        <li ng-click="selectArtist($index)" ng-repeat="artist in artistArray track by $index"><p>{{artist.name}}</p><img class="galleryImg" ng-src="{{artist.aboutImage}}" alt="{{artist.name}}" height="320" width="212"/></li>
    </ul>
  </div>
</div>


<div class="artistInfoContainer" ng-if="artistLink">

    <div class="artistInfoGalleryBox" ng-if="artistLink">
      <ul class="artistListContainer">
          <li ng-click="imgEnlarge($index)" ng-repeat="pic in currentArtistGallery track by $index"><p>{{pic.title}}</p><img class="galleryImg" ng-src="{{pic.galleryUrl}}" alt="{{pic.title}}" height="640" width="424"/></li>
      </ul>
    </div>



    <div class="artistInfoBox" ng-if="artistLink">
      <div ><img class="artistImage" ng-src="{{aboutImage}}" /></div>
      <p class="artistDesc">{{currentArtist[currentArtistIndex].description}}</p>
      <p class="artistEmail">{{currentArtist[currentArtistIndex].email}}</p>
    </div>



<div id="clear" ng-if="artistLink"></div>


</div>


<div class="fullScreenBackground" ng-show="imgClicked">
  <div class="exitFullscreen" ng-click="closeWindow()">X</div>
  <div ng-click="nextImage()" class="nextImage"><img class="nextActualImage" src="../assets/images/right_arrow.png"/></div>
  <div ng-click="prevImage()" class="prevImage"><img class="prevActualImage" src="../assets/images/left_arrow.png"/></div>
  <p class="imageTitle">{{artistGalleryArray[currentPhotoIndex].title}}</p>
  <p class="imageArtist">{{artistGalleryArray[currentPhotoIndex].name}}</p>
    <img class="fullScreenImage" ng-src="{{artistGalleryArray[currentPhotoIndex].galleryUrl}}"/>
</div>
