<h1 class="topHeader">Login & Register</h1>

<div class="loginBox">

<md-content layout-padding class="md-no-momentum">
<form name="loginForm" novalidate>
    <md-input-container class="md-block" flex-gt-md="">
      <input ng-model="userCred.email" required="" type="text" name="email" placeholder="Email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-md="">
      <input ng-model="userCred.password" required="" type="password" name="password" placeholder="Password">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
    <md-button ng-click="userLogin(userCred.email, userCred.password)" class="md-accent md-raised" type="submit">Login</md-button>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
    <md-button ng-click="userRegister(userCred.email, userCred.password)"class="md-accent md-raised" type="submit">Register</md-button>
    </md-input-container>
</form>


  </md-content>
</div>
