<h1 class="topHeader">Login</h1>

<div class="loginBox">

<md-content layout-padding class="md-no-momentum">
<form name="loginForm" novalidate>
    <md-input-container class="md-block" flex-gt-md="">
      <input ng-model="userCred.email" required="" type="text" name="email" placeholder="Email">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-md="">
      <input ng-model="userCred.password" required="" type="password" name="password" placeholder="Password">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm="">
    <md-button ng-click="userLogin(userCred.email, userCred.password)" class="md-accent md-raised" type="submit">Login</md-button>
    </md-input-container>


</form>


  </md-content>
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86060026-1', 'auto');
  ga('send', 'pageview');

</script>
