<h1>SUBMISSIONS</h1>
<!-- <md-grid-list md-cols-lg="8" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="12px" md-gutter-gt-sm="18px">
    <md-grid-tile md-rowspan-lg="2" md-colspan="8" md-colspan-sm="6" md-colspan-xs="1"> -->


<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Submit Artist">
        <md-content layout-padding class="md-no-momentum">
          <md-input-container flex="100">

          <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="artistInfo.name" required="" type="text" name="artist_name" placeholder="Artist Name">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="artistInfo.email"required="" type="text" name="artist_email" placeholder="Email">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm="">
            <input ng-model="artistInfo.description"required="" type="text" name="artist_description" placeholder="Short Description">
          </md-input-container>

              <md-card>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">About Image</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column" layout-align="center center" style="text-align:center;">
                  <div ng-show="!image.originalImage && !user.photo && !loading"
                        name="file"
                        enctype="multipart/form-data"
                        class="drop-box drop-box-container"
                        ngf-drag-over-class="drop-box-dragover"

                        ngf-drop ngf-select
                        ngf-max-size="25MB"
                        ng-model="artistInfo.aboutImage"
                        ngf-multiple="false"
                        ngf-allow-dir="false"
                        accept="image/*" ng-cloak>
                      <span>Drop image or click to upload about image</span>
                    </div>
                  </md-card>

          <md-input-container class="md-block" flex-gt-sm="">
            <md-button ng-click="addArtist()" class="md-accent md-raised" type="submit">Submit</md-button>
          </md-input-container>
        </md-content>
      <!-- <div><img src="http://res.cloudinary.com/beastprime/image/upload/v1473552206/pbp2zhftlekkwdqzi0eg.jpg" width='700' height='500' /></div> -->
      </md-tab>

      <md-tab label="Gallery Submission">
        <md-content layout-padding class="md-no-momentum">

          <md-input-container flex="33">
             <label>Artist</label>
               <md-select ng-model="galleryInfo.artist">
                 <!-- <md-option ng-value="artist">Artist</md-option> -->
               </md-select>
          </md-input>

            <md-input-container class="md-block" flex-gt-md="">
              <input ng-model="galleryInfo.title" required="" type="text" name="title" placeholder="Title">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-md="">
              <input ng-model="galleryInfo.medium" required="" type="text" name="medium" placeholder="Medium">
            </md-input-container>

            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Gallery Image</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content layout="column" layout-align="center center" style="text-align:center;">
                <div ng-show="!image.originalImage && !user.photo && !loading"
                      class="drop-box drop-box-container"
                      ngf-drag-over-class="drop-box-dragover"
                      ngf-change="readFileImg(galleryInfo.photo)"
                      ngf-drop ngf-select
                      ng-model="galleryInfo.photo"
                      ngf-multiple="false"
                      ngf-allow-dir="false"
                      accept="image/*" ng-cloak>
                    <span>Drop image or click to upload gallery image</span>
                  </div>
                </md-card>

            <md-input-container class="md-block" flex-gt-sm="">
            <md-button ng-click="submitGallery()" class="md-accent md-raised" type="submit">Submit</md-button>
          </md-input-container>

          </md-content>
      </md-tab>

    </md-tabs>
  </md-content>
</div>
